<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>Kaddare-A</key>
  <string>K_addare-A_.glif</string>
  <key>Kaddare-B</key>
  <string>K_addare-B_.glif</string>
  <key>Kaddare-C</key>
  <string>K_addare-C_.glif</string>
  <key>Kaddare-D</key>
  <string>K_addare-D_.glif</string>
  <key>Kaddare-DH</key>
  <string>K_addare-D_H_.glif</string>
  <key>Kaddare-E</key>
  <string>K_addare-E_.glif</string>
  <key>Kaddare-F</key>
  <string>K_addare-F_.glif</string>
  <key>Kaddare-G</key>
  <string>K_addare-G_.glif</string>
  <key>Kaddare-H</key>
  <string>K_addare-H_.glif</string>
  <key>Kaddare-I</key>
  <string>K_addare-I_.glif</string>
  <key>Kaddare-J</key>
  <string>K_addare-J_.glif</string>
  <key>Kaddare-K</key>
  <string>K_addare-K_.glif</string>
  <key>Kaddare-KH</key>
  <string>K_addare-K_H_.glif</string>
  <key>Kaddare-L</key>
  <string>K_addare-L_.glif</string>
  <key>Kaddare-M</key>
  <string>K_addare-M_.glif</string>
  <key>Kaddare-N</key>
  <string>K_addare-N_.glif</string>
  <key>Kaddare-O</key>
  <string>K_addare-O_.glif</string>
  <key>Kaddare-Q</key>
  <string>K_addare-Q_.glif</string>
  <key>Kaddare-R</key>
  <string>K_addare-R_.glif</string>
  <key>Kaddare-S</key>
  <string>K_addare-S_.glif</string>
  <key>Kaddare-SH</key>
  <string>K_addare-S_H_.glif</string>
  <key>Kaddare-Small-A</key>
  <string>K_addare-S_mall-A_.glif</string>
  <key>Kaddare-Small-B</key>
  <string>K_addare-S_mall-B_.glif</string>
  <key>Kaddare-Small-C</key>
  <string>K_addare-S_mall-C_.glif</string>
  <key>Kaddare-Small-D</key>
  <string>K_addare-S_mall-D_.glif</string>
  <key>Kaddare-Small-DH</key>
  <string>K_addare-S_mall-D_H_.glif</string>
  <key>Kaddare-Small-E</key>
  <string>K_addare-S_mall-E_.glif</string>
  <key>Kaddare-Small-F</key>
  <string>K_addare-S_mall-F_.glif</string>
  <key>Kaddare-Small-G</key>
  <string>K_addare-S_mall-G_.glif</string>
  <key>Kaddare-Small-H</key>
  <string>K_addare-S_mall-H_.glif</string>
  <key>Kaddare-Small-I</key>
  <string>K_addare-S_mall-I_.glif</string>
  <key>Kaddare-Small-J</key>
  <string>K_addare-S_mall-J_.glif</string>
  <key>Kaddare-Small-K</key>
  <string>K_addare-S_mall-K_.glif</string>
  <key>Kaddare-Small-KH</key>
  <string>K_addare-S_mall-K_H_.glif</string>
  <key>Kaddare-Small-L</key>
  <string>K_addare-S_mall-L_.glif</string>
  <key>Kaddare-Small-M</key>
  <string>K_addare-S_mall-M_.glif</string>
  <key>Kaddare-Small-N</key>
  <string>K_addare-S_mall-N_.glif</string>
  <key>Kaddare-Small-O</key>
  <string>K_addare-S_mall-O_.glif</string>
  <key>Kaddare-Small-Q</key>
  <string>K_addare-S_mall-Q_.glif</string>
  <key>Kaddare-Small-R</key>
  <string>K_addare-S_mall-R_.glif</string>
  <key>Kaddare-Small-S</key>
  <string>K_addare-S_mall-S_.glif</string>
  <key>Kaddare-Small-SH</key>
  <string>K_addare-S_mall-S_H_.glif</string>
  <key>Kaddare-Small-T</key>
  <string>K_addare-S_mall-T_.glif</string>
  <key>Kaddare-Small-U</key>
  <string>K_addare-S_mall-U_.glif</string>
  <key>Kaddare-Small-W</key>
  <string>K_addare-S_mall-W_.glif</string>
  <key>Kaddare-Small-X</key>
  <string>K_addare-S_mall-X_.glif</string>
  <key>Kaddare-Small-Y</key>
  <string>K_addare-S_mall-Y_.glif</string>
  <key>Kaddare-T</key>
  <string>K_addare-T_.glif</string>
  <key>Kaddare-U</key>
  <string>K_addare-U_.glif</string>
  <key>Kaddare-W</key>
  <string>K_addare-W_.glif</string>
  <key>Kaddare-X</key>
  <string>K_addare-X_.glif</string>
  <key>Kaddare-Y</key>
  <string>K_addare-Y_.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
</dict>
</plist>
